.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    width: 375px;
    margin-left: 20px;
    border-radius: 20px;

   
}



h1{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

button{
    border: none;
    height: 35px;
    
    border-radius: 5px;
}
.list{
    
    display: none;
}


span{
    color:red;
    margin-left: 10px;
}